<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <% include base/link.ejs %>
</head>
<body>
<div class="container ">
    <div class="row">
        <div class="col-lg-12">
            <div class="hr-40"></div>
        </div>
    </div>
    <div class="panel panel-default box-shadow border-none border-radius">
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 .col-sm-12 col-xs-12">
                        <div class="page-header">
                            <h2><a href="/blogs">LIGHTCOLORS</a><br>
                                <small>node for blog</small>
                            </h2>
                        </div>
                        <% include base/nav.ejs %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 ">
                        <div class="btn-group-sm" id="categoryBlog" role="group"></div>
                        <div id="categoryBlogGetAct" class="">
                            <% posts.forEach(function (post, index) { %>
                            <div data-index="<%= index %>" class="">
                                <!--标题-->
                                <h3><%= post.title %></h3>
                                <!--提示信息-->
                                <div class="">
                                <span class="label label-success inline-block"><i
                                            class="glyphicon glyphicon-time"></i> <%= post.date %></span><span
                                            class="label label-info inline-block"><i
                                                class="glyphicon glyphicon-user"></i> <%= post.name %></span><span
                                            class="label label-success inline-block"><i
                                                class="glyphicon glyphicon-paperclip"></i> <%= post.category %></span><span
                                            class="label label-info inline-block"><i
                                                class="glyphicon glyphicon-eye-open"></i> <%= post.pv %></span>
                                </div>
                                <div class="hr-20"></div>
                                <!--内容-->
                                <div class="">
                                    <p class=""><%- post.intro %></p>
                                </div>
                                <!--btn-->
                                <div class="hr-20"></div>
                                <div class="text-right">
                                    <a class="btn btn-default" href="blogs/<%- post._id %>" target="_blank">MORE</a>
                                </div>
                            </div>
                            <div class="hr-20"></div>
                            <div class="underline"></div>
                            <% }) %>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12">

                        <div class="page-header">
                            <h4>最热文章
                                <small>node for blog</small>
                            </h4>
                        </div>
                        <div class="list-group" id="hotBlogs">
                            <% blogs.forEach(function (post, index) { %>
                            <a href="blogs/<%- post._id %>" class="list-group-item border-none"><span
                                        class="badge"><%= post.pv %></span><%= post.title %></a>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <% include footer.ejs %>
        </div>
    </div>

</div>
</body>
</html>

<script type="text/javascript" src="http://libs.useso.com/js/jquery/2.0.1/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="javascripts/account.js"></script>
<script src="/javascripts/ajax.js"></script>
<script>
    (function () {

        var a = new gBlog.getAjax();
        a.categoryGetBlog($('#categoryBlog'))
        a.blogGetCategory($('#categoryBlog'))
    })()
</script>
