<% include header.ejs %>

<!--博客内容-->
<div class="blog">
    <div class="blog-container">
        <!--文章列表 start-->
        <div class="article-left">
            <!--1-->

            <% var len = posts.length %>
            <% posts.forEach(function (post, index) { %>
            <div class="article-list">
                <!--标题-->
                <div class="article-list-title"><h2><%= post.title %></h2></div>
                <!--提示信息-->
                <div class="article-list-tips">
                    <ul>
                        <li><span>日期：</span><span><%= post.date %></span></li>
                        <li><span>作者：</span><span><%= post.name %></span></li>
                        <li><span>标签：</span><span><%= post.category %></span></li>
                        <li><span>浏览：</span><span><%= post.pv %></span></li>
                    </ul>
                </div>
                <!--内容-->
                <div class="article-list-info">
                    <span><%- post.intro %></span>
                </div>
                <!--btn-->
                <div class="article-btn">
                    <a href="blogs/<%- post._id %>" target="_blank">MORE</a>
                </div>
            </div>
            <% if(index != len - 1){ %>
            <div class="underline"></div>
            <% } %>
            <% }) %>
            <% var counts = Math.ceil(count / limit) %>
            <% console.log(counts); %>
            <div class="page">
                <ul>
                    <li><a href="/blogs?page=<%= 1 %>">首页</a></li>
                    <li><a href="/blogs?page=<%= counts %>">末页</a></li>
                    <li>当前 <%= page %> 页</li>
                    <li>共 <%= counts %> 页</li>
                </ul>
            </div>
        </div>
        <!--文章列表 end-->

        <!--右侧栏 start-->
        <div class="article-right">
            <!--最新文章 start-->
            <div class="article-later">
                <dl>
                    <dt>最新文章</dt>
                    <% blogs.forEach(function (post, index) { %>
                    <dd><a href="blogs/<%- post._id %>"><%= post.title %></a></dd>
                    <% }) %>
                </dl>
            </div>
            <!--最新文章 end-->
            <div class="underline"></div>
            <!--类型标签页 start-->
            <div class="article-type">
                <dl>
                    <dt>标签</dt>
                    <% var len = postsCategory[0].length; %>
                    <% var numCategory = postsCategory[0] %>
                    <% var nameCategory = postsCategory[1] %>
                    <% for (var i = 0; i < len; i++) { %>
                    <dd><a href="blogs/sorts/<%- nameCategory[i] %>"><%= numCategory[i] %></a></dd>
                    <% } %>
                </dl>
            </div>
            <!--类型标签页 end-->
            <!--<div class="underline"></div>-->
            <!--预留广告位 start-->
            <div class="article-ad hide">
                广告
            </div>
            <!--预留广告位 end-->
        </div>
        <!--右侧栏 end-->
    </div>
</div>

<% include footer.ejs %>
