<!doctype html>
<html lang="zh-CN">
<head>
    <% include base/link.ejs %>
</head>
<body>
<div class="container ">
    <div class="row">
        <div class="col-lg-12">
            <div class="hr-40"></div>
        </div>
    </div>
    <div class="panel panel-default box-shadow border-none border-radius">
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 .col-sm-12 col-xs-12">
                        <div class="page-header">
                            <h2><a href="/blogs">LIGHTCOLORS</a><br>
                                <small>node for blog</small>
                            </h2>
                        </div>
                        <% include base/crumb.ejs %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 ">
                        <div id="" class="">
                            <!--标题-->
                            <div class="page-header">
                                <h4><%= post.title %><br></h4>
                            </div>
                            <!--提示信息-->
                            <div class="">
                                <span class="label label-success inline-block"><i
                                            class="glyphicon glyphicon-time"></i> <%= post.date %></span><span
                                        class="label label-info inline-block"><i
                                            class="glyphicon glyphicon-user"></i> <%= post.name %></span><span
                                        class="label label-success inline-block"><i
                                            class="glyphicon glyphicon-paperclip"></i> <%= post.category %></span><span
                                        class="label label-info inline-block"><i
                                            class="glyphicon glyphicon-eye-open"></i> <%= post.pv %></span>
                            </div>
                            <div class="hr-20"></div>
                            <!--内容-->
                            <div class="">
                                <p class=""><%- post.post %></p>
                            </div>
                            <div class="hr-40"></div>
                            <div class="underline"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header">
                            <h4>评论列表
                                <small class="badge">共 <span id="commentCount"><%= commentCount %></span> 条</small>
                            </h4>
                        </div>
                        <div id="commentsShow"></div>
                        <div class="hr-40"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header">
                            <h4>评论
                                <small class="badge">评论审核后显示</small>
                            </h4>
                        </div>
                        <form id="commentForm">
                            <% if (comment) { %>
                            <div class="form-group">
                                <font>*</font>
                                <label id="commentName"><%= comment.commentName %></label>
                            </div>
                            <div class="form-group">
                                <font>*</font>
                                <label for="commentContent">Content</label>
                                    <textarea rows="4" class="form-control" name="commentContent" id="commentContent"
                                              placeholder="Content"></textarea>
                            </div>
                            <button id="commentsPost" type="button" class="btn btn-default">Submit</button>

                            <% }else { %>

                            <div id="commentNameDom" class="form-group">
                                <font>*</font>
                                <label for="commentName">Your name</label>
                                <input type="text" class="form-control" name="commentName" id="commentName"
                                       placeholder="Your name">
                            </div>
                            <div class="form-group">
                                <font>*</font>
                                <label for="commentContent">Content</label>
                                    <textarea rows="4" class="form-control" name="commentContent" id="commentContent"
                                              placeholder="Content"></textarea>
                            </div>
                            <button id="commentsPost" type="button" class="btn btn-default">Submit</button>
                            <% } %>

                        </form>
                        <div class="hr-40"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <% include footer.ejs %>
        </div>
    </div>
</div>
</body>
</html>
<script src="../js/lib/require.min.js"></script>
<script src="../js/config.js"></script>
<script src="../js/app/details.js"></script>
