<% include header.ejs %>

<!--博客内容-->
<div class="blog">
    <div class="blog-container">
        <!--文章列表 start-->
        <div class="article-left details">
            <!--1-->
            <div class="article-list">
                <!--标题-->
                <div class="article-list-title"><h2 style="text-align: center"><%= post.title %></h2></div>
                <!--提示信息-->
                <div class="article-list-tips" style="text-align: center">
                    <ul>
                        <li><span>日期：</span><span><%= post.date %></span></li>
                        <li><span>作者：</span><span><%= post.name %></span></li>
                        <li><span>类型：</span><span><%= post.category %></span></li>
                        <li><span>浏览：</span><span><%= post.pv %></span></li>
                    </ul>
                </div>
                <!--内容-->
                <div class="article-list-info">
                    <span class="default-css"><%- post.post %></span>
                </div>
                <div class="hr-40"></div>
                <div class="underline"></div>
                <div class="hr-40"></div>
                <!-- 多说评论框 start -->
                <div class="ds-thread" data-thread-key="<%= post._id %>" data-title="<%= post.title %>"
                     data-url="blogs/<%- post._id %>"></div>
                <!-- 多说评论框 end -->
                <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                <script type="text/javascript">
                    var duoshuoQuery = {short_name: "lightcolors"};
                    (function () {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';
                        ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0]
                        || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
                <!-- 多说公共JS代码 end -->

            </div>
        </div>
        <!--文章列表 end-->
    </div>
</div>
<script type="text/javascript" src="http://libs.useso.com/js/jquery/2.0.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/account.js"></script>
<% include footer.ejs %>
